body{
     min-width: 750px;
}
#wrap{
    background-image: url("/image/index.jpg");
    background-repeat: repeat;
    height: 700px;
    width: 650px;
    margin: 0 auto;
}
#main{
    height: 700px;
    width: 650px;
    margin: 0 auto;
}
#selectid{
   position: relative;
   
}
#login{
    text-align: center;
    padding-top: 100px;
}
#main1{
    margin: 0 auto;
    text-align: center;
    width: 500px;
    height: 500px;
}